.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.menuSide:hover{
    -fx-background-color:  linear-gradient(#000000, #4cb7c9);
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-text-fill: WHITE;
}

.botones_crud{
    -fx-background-color:  linear-gradient(#000000, #4cb7c9);
    -fx-border-style: solid;
    -fx-text-fill: WHITE;
    -fx-border-radius: 5px;
}
.texfields_crud{
    -fx-background-color: transparent;
    -fx-border-color:  #4ac7e0;
    -fx-border-width: 0 0 3 0;
}

.estilo_botones:hover{
    -fx-background-color: RED;
    -fx-border-color: BLACK;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-text-fill: WHITE;
}

.estilo_iconos:hover{
    -fx-background-color: WHITE;
}

/* styles.css */
.button-normal {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.button-hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}

