.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.menuSide:hover{
    -fx-background-color:  linear-gradient(#000000, #4cb7c9);
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-text-fill: WHITE;
}